body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(222, 219, 223);
}

input{
    border-radius: 10px;
    border-color: black;
}

button{
    border-radius: 10px;
    border-color: black;
    background-color: rgb(186, 218, 154);
}

pre{
    padding: 10px;
}

