#box {
    height: 500px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.195);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgb(48, 48, 48);
}

body,html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(http://3.bp.blogspot.com/-ZBb7cJym87A/VWeQR9J8W9I/AAAAAAAAGBQ/v5AW3i_brk4/s1600/fundo-azul%2B%25281%2529.jpg);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: contain;
}

#center {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 120%;
    list-style: none;
}




li {
    padding-top: 20px;
    color: rgb(213, 210, 210);
}

#check {
    margin-inline:70px 10px;
}

.risco, .semRisco{
    margin-inline: 100px 300px;
    margin-top: -24px;
}

.risco{
    text-decoration: line-through;
}

.btn {
    width: 100px;
    height: 25px;
    padding: 0px 0px 0px;
    margin-top: -100px;
    margin-inline: 500px 10px;
    border-color: rgba(255, 255, 255, 0.886);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.768);
    text-align: center;
    box-shadow: 0px 0px 2px rgb(121, 121, 121);
}




#adicTarefa {
    width: 300px;
    height: 20px;
    border-color: rgb(169, 169, 169);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.768);
    font-style: italic;
    margin-inline: 20% 24px;
}

input::placeholder {
    color: rgb(28, 28, 28);
    padding-left: 8px;
  }

#inserir {
    width: 101px;
    height: 25px;
    border-color: rgba(255, 255, 255, 0.886);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.768);
    box-shadow: 0px 0px 2px rgb(121, 121, 121);
}
