body{
    background-image: linear-gradient(rgb(134, 197, 207), rgba(255, 0, 0, 0));
    background-repeat: no-repeat;
}

h1,h2{
    text-align: center;
}

li{
    padding: 5px;
    margin-left: 10px;
    font-size: large;
}

p{
    text-align:center !important;
    font-size: large;
    margin-bottom: 100px;
}

input{
    margin-right: 20px;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: black;
    background-color: rgba(134, 197, 207, 0.458);
}

#inserir{
    font-size: larger;
}

hr{
   border-color: rgba(162, 162, 162, 0.638);
}

button{
    background-color: rgba(134, 197, 207, 0.458);
    border-radius: 5px;
    border-width: 0.3px;
}